@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600;700&display=swap');
@import "tailwindcss";

@layer base {
  html, body {
    background-color: #06060a;
    color: #ffffff;
    font-family: 'Outfit', sans-serif;
    min-height: 100vh;
    overflow-x: hidden;
  }
}

@keyframes breathe {
  0% { transform: scale(1); }
  100% { transform: scale(1.05); }
}

.animate-breathe {
  animation: breathe 20s infinite alternate ease-in-out;
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
